.age-calculator-app {
    font-family: Poppins;
    background-color: white;
    margin: 4%;
    padding: 40px 6%;
    display: flex;
    flex-direction: column;
    border-radius: 32px 32px 128px
}

.age-calculator-app form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: solid hsl(0, 0%, 86%);
    border-width: 0 0 1px 0;
    margin-bottom: 10%;
}

.age-calculator-app form .input-date {
    display: flex;
    justify-content: space-around;
    height: 60%;
}

.age-calculator-app form .input-date .field {
    display: inline-block;
}

.age-calculator-app form .input-date .field label {
    display: block;
    font-size: .8em;
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
    letter-spacing: .2em;
}

.age-calculator-app form .input-date .field input {
    font-family: Poppins;
    font-size: 1.5rem;
    width: 70%;
    max-width: 170px;
    height: 90%;
    border: solid 1px hsl(0, 0%, 86%);
    border-radius: 8px;
    padding-left: 10%;
}

.age-calculator-app form .input-date .field input::placeholder {
    color: hsl(0, 1%, 44%);
}

.age-calculator-app form .button {
    border-width: 0px;
    border-radius: 50%;
    padding: 20px 15px;
    position: relative;
    top: 30%;
    align-self: center;
    background-color: hsl(259, 100%, 65%);
}

.age-calculator-app form .button:hover {
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.age-calculator-app form .button img {
    width: 70%;
    content: url('./assets/images/icon-arrow.svg')
}

.age-calculator-app .result {
    display: flex;
    flex-direction: column;
    font-size: 3em;
    font-style: italic;
    position: relative;
    top: 10%;
    margin-bottom: 20%;
}

.age-calculator-app .result span {
    color: hsl(259, 100%, 65%);
}

@media screen and (min-width: 768px) {
    .age-calculator-app {
        max-width: 768px;
    }

    .age-calculator-app form .button {
        align-self: last baseline;
    }
}
