.age-calculator-app {
    font-family: Poppins;
    background-color: white;
    margin: 15% 2%;
    padding: 10% 6%;
    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 128px
}

.age-calculator-app form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.age-calculator-app form .input-date {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.age-calculator-app form .input-date .field {
    display: inline-block;
}

.age-calculator-app form .input-date .field label {
    display: block;
}

.age-calculator-app form .input-date .field input {
    font-family: Poppins;
    font-size: 1.5rem;
    width: 80%;
    height: 90%;
    border: solid 1px hsl(0, 0%, 86%);
    border-radius: 8px;
}

.age-calculator-app form .input-date .field input::placeholder {
    position: relative;
    left: 10%;
    color: hsl(0, 1%, 44%);
}

.age-calculator-app form .button {
    margin: 10%;
    border-width: 0px;
    border-radius: 50%;
    padding: 20px 15px;
    background-color: hsl(259, 100%, 65%);
}

.age-calculator-app form .button:hover {
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.age-calculator-app form .button img {
    width: 70%;
    content: url('./assets/images/icon-arrow.svg')
}

.age-calculator-app .result {
    display: flex;
    flex-direction: column;
}